RTG-DIR Issue-17 Section 2.4.3 - I-Flag

### RTG-DIR Issue-17 Section 2.4.3 - I-Flag

Text:/
>  -  I-Flag: This flag encodes the "Drop Upon Invalid" behavior.  It
>     is used by SRPM as described in section 8.2 in [RFC9256].

**Jeffrey:** I also have trouble understanding this "Drop Upon Invalid" behavior.
I read rfc9256 but still can't put the two together.

### RFC9256, section 8.2 

   An SR Policy MAY be enabled for the Drop-Upon-Invalid behavior.  This
   would entail the following:

   *  an invalid SR Policy and its BSID is kept in the forwarding plane
      with an action to drop.
   *  any steering of a service (PW), destination (BGP-VPN), flow, or
      packet on the related SR Policy is maintained with the action to
      drop all of this traffic.

   The Drop-Upon-Invalid behavior has been deployed in use cases where
   the operator wants some PW to only be transported on a path with
   specific constraints.  When these constraints are no longer met, the
   operator wants the PW traffic to be dropped.  Specifically, the
   operator does not want the PW to be routed according to the IGP
   shortest path to the PW endpoint.

### Shepherd's comment on -04.txt. 
reason: RFC9256 gives a behavior for IGP, but not for BGP.  

**Technical comment:** BGP passes a valid SR Policy Candidate Route, which is declared valid for BGP (NLRI and TEA) with specific behavior (I-Flag). The general concept of the I-Flag is given in RFC9256 in Section 8.2, but the above portion of Section 8.2 points only to IGP rather than the tunnel. 

Alternate text:/
     -  I-Flag: This flag encodes the "Drop Upon Invalid" behavior.  It
         is used by SRPM as described in section 8.2 in [RFC9256]
         to define a specific SR Policy (tunnel) forwarding behavior./ 

closed merged into 
https://github.com/ietf-wg-idr/draft-ietf-idr-sr-policy-safi/issues/32