RTG-DIR Review - I-Flag in section 2.4.2 

### RTG-DIR Review, Issue 29:  - I-Flag in section 2.4.2 
Type: Technical, editorial 

 -  I-Flag: This flag encodes the "Drop Upon Invalid" behavior.  It
         is used by SRPM as described in section 8.2 in [RFC9256].  The
         flag indicates that the CP is to perform the "drop upon
         invalid" behavior when no valid CP is available for this SR
         Policy.  In this situation, the CP with the highest preference
         amongst those with the "drop upon invalid" config is made
         active to drop traffic steered over the SR Policy.

**Shepherd's comment-1:**  The text in RFC9256 does not define "CP".  The abbreviation "CP" is not indicated in the text.  This section must be upgraded to indicate what CP means. 

**Shepherd's comment-2:** The SRPM in sectinm 8.2 states" 

>    An SR Policy MAY be enabled for the Drop-Upon-Invalid behavior.  This
>    would entail the following:
> 
>    *  an invalid SR Policy and its BSID is kept in the forwarding plane
>       with an action to drop.
>    *  any steering of a service (PW), destination (BGP-VPN), flow, or
>       packet on the related SR Policy is maintained with the action to
>       drop all of this traffic.


The SR Policy is a tunnel, and the BSID identifies the tunnel.  What does the following comment mean? 

        "In this situation, the CP with the highest preference
         amongst those with the "drop upon invalid" config is made
         active to drop traffic steered over the SR Policy." 

Is the CP, the SRPM?  


Merged into RTG-DIR Issue 19 
https://github.com/ietf-wg-idr/draft-ietf-idr-sr-policy-safi/issues/21